{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>Admin page</h1>
    <p class="alert alert-primary">the list of the logs regarding users and seacreatures management can be found here.</p>
    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>
    <table class="table table-primary edit-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for key,log in logs %}
            <tr class="table-primary">
                <td>{{log.id}}</td>
                <td>{{log.type}}</td>
                <td>{{log.content}}</td>
                <td>{{log.date | format_datetime('full', 'medium') }}</td>
            </tr>
        {% else %}
            <span>No logs, so sad :(</span>
        {% endfor %}
    </table>
{% endblock %}