{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>Export users</h1>

    <p class="alert alert-primary">In order to export users on another PlanktonCorp application, you can copy paste the folowing string to an import user.</p>

    <pre style="overflow-x: auto; white-space: pre-wrap;" class="alert alert-success">{{str}}</pre>

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}