{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>Import users</h1>

    <p class="alert alert-primary">In order to import a user database, you can copy/paste the import user string of another plankton corp site.</p>
    <form name="form" method="post" action="/admin/users/import">
        <div id="form">
            <div class="mb-3">
                <label for="form_str" class="form-label required">User Database string</label><input type="text" id="form_str" name="str" required="required" class="form-control" />     
            </div>
        <div class="mb-3">

        
        <button type="submit" id="form_save" name="" class="btn-primary btn">Import User Database</button>
        </div>
    </form>

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}