{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>{% if app.user.id == user.id %} My {% else %} User {% endif %} details</h1>

{% if isPasswordValid == false %}
    <div class="h6 alert alert-danger">
         Password too simple! Your password must be greater than 8 characters and should contain atleast a number and a special character.  
    </div> 
{% endif %}

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          {% if 'ROLE_ADMIN' in user.roles %} 
          <h6 class="card-subtitle mb-2 text-muted centered"><img src="/static/images/trophy.svg"/> administrator</h6> 
          {% endif %}
          <h5 class="card-title text-success">{{user.email}}</h5>
          <form class="login_form" id="set_password_form" action="{{ path('user_set_password', {id: user.id}) }}" method="post">
            <img src="/static/images/key.svg" alt="" />

            <input placeholder="oldpassword" type="password" id="oldpassword" name="_oldpassword"/>
    
            <input placeholder="newpassword" type="password" id="newpassword" name="_newpassword"/>
    
            <button type="submit">set password</button>
        </form>
        </div>
      </div>
{% endblock %}